.list_category {
    padding : 20px !important;
    position: absolute;
    top : 150px;
    z-index: 99;
    width : 200px;
    display : none;
    opacity : 0;
    transition : 0.3s ease;
    
}

.list:hover {
    cursor : pointer;
}

.list:hover .list_category {
    display : block;
    top : 130px;
    opacity : 1;
}